:root {
	--fontNormal: 300;
	--fontBold: 600;
	--fontExtraBold: 800;

	--backgroundPrimary: hsl(0, 0%, 98%);
	--backgroundSecondary: hsl(0, 0%, 100%);
	--textContentPrimary: hsl(200, 15%, 8%);
}

.dark {
	--backgroundPrimary: hsl(207, 26%, 17%);
	--backgroundSecondary: hsl(209, 23%, 22%);
	--textContentPrimary: hsl(0, 0%, 100%);
}
